.product-card{
    box-shadow: 1px 1px 5px rgb(75, 69, 75) !important;
    margin: 10px;
}
.title:after{
    content: '';
    display: inline-block;
    width: 3%;
    border-bottom: 1px solid #212121;
    margin: auto;
    transform: translateY(-12px);
    margin:0 4px;
}
.title:before{
    content: '';
    display: inline-block;
    width: 3%;
    border-bottom: 1px solid #212121;
    margin: auto;
    transform: translateY(-12px);
    margin:0 4px;
}

.title-2:after{
    content: '';
    display: inline-block;
    width: 10%;
    border-bottom: 1px solid #212121;
    margin: auto;
    transform: translateY(-7px);
    margin:0 4px;
}
.title-2:before{
    content: '';
    display: inline-block;
    width: 10%;
    border-bottom: 1px solid #212121;
    margin: auto;
    transform: translateY(-7px);
    margin:0 4px;
}